.big-h {
    font-family: 'Garamond' 'Times New Roman', Times, serif;
    color: white;
    background-color: crimson;
}

.main-pics {
    display: flex;
}

.main-recipes {
    display: flex;
    

}
.main-recipes li {
    margin: 0 75px 0 50px;

    padding: 5px;
}

img {
    display: block;
    margin: 5px;
}

li {
    font-style: italic;
    padding-bottom: 5px;
}

.ingredients {
    text-decoration-line: underline;
}
.steps {
    background-color: rgb(138, 182, 182);
}